<div class="card my-5">
  <div class="card-body">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="input search text"
        (input)="onSearch($event)"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">PROFILE</th>
          <th scope="col">#</th>
          <th scope="col">FIRST NAME</th>
          <th scope="col">LAST NAME</th>
          <th scope="col">Email</th>
          <th scope="col">Active</th>
          <th scope="col">Update button</th>
          <th scope="col">Soft Delete button</th>
          <th scope="col">Delete button</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let customer of customersPage.content">
          <td><button class="bn5" [routerLink]="['/profile', customer.id]">Profile</button></td>
          <td>{{ customer.id }}</td>
          <td>{{ customer.firstName}}</td>
          <td>{{ customer.lastName}}</td>
          <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
          <td><button class="btn btn-dark">{{ customer.active}}</button></td>
          <td><button class="btn btn-dark" (click)="openUpdateModal(customer)">Update</button></td>
          <td><button class="btn btn-dark" (click)="deactivateCustomer(customer.id)" [disabled]="!customer.active">Soft-Delete</button></td>
          <td><button class="btn btn-dark" (click)="openDeleteConfirmationDialog(customer.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <nz-demo-pagination-changer></nz-demo-pagination-changer>
  </div>
</div>

<!-- ********************************************************* -->

<!--
<nz-table #sortTable nzBordered nzPaginationType="small"
[nzData]="listOfUsers"
nzTableLayout="fixed"
[nzShowPagination]="false"
>
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority"
        (nzSortOrderChange)="sort($event, column)">
        {{ column.title }}
      </th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customersPage.content">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.userName }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.creationDate | date: 'dd-MM-yyyy'}}</td>
        <td>
          <nz-tag [nzColor]="customer.active ? 'green' : 'red'">
            {{ customer.active ? 'Active' : 'Inactive' }}
          </nz-tag>
          {{ customer.active}}
        </td>
        <td>
          <a nz-icon nzType="edit" nzTheme="fill" (click)="openUpdateModal(customer)"></a>
        </td>
        <td>

          <a nz-icon nzType="deactivate" nzTheme="fill" (click)="deactivateCustomer(customer.id)"></a>
        </td>
    </tr>
  </tbody>
</nz-table> -->


<div class="card my-5">
<nz-table
  #sortTable
  nzBordered
  nzPaginationType="small"
  [nzData]="listOfUsers"
  nzTableLayout="fixed"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th>PROFILE</th>
      <th
        *ngFor="let column of listOfColumn"
        [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority"
        (nzSortOrderChange)="sort($event, column)"
      >
        {{ column.title }}
      </th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Delete data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customersPage.content">
      <td><button class="bn5" [routerLink]="['/profile', customer.id]">Profile</button></td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td  [style.width.px]="200">{{ customer.email }}</td>
      <td>
        <nz-tag [nzColor]="customer.active ? 'green' : 'red'">
          {{ customer.active ? 'Active' : 'Inactive' }}
        </nz-tag>
        <!-- {{ customer.active }} -->
      </td>
      <td>
        <a nz-icon nzType="edit" nzTheme="fill" (click)="openUpdateModal(customer)"></a>
      </td>
      <td>
        <a nz-icon nzType="delete" nzTheme="fill" (click)="deactivateCustomer(customer.id)"></a>
      </td>
      <td><button class="btn btn-dark" (click)="openDeleteConfirmationDialog(customer.id)">Delete</button></td>

    </tr>
  </tbody>
</nz-table>
</div>
