.active {
  background-color: #212529;
  color: white;
}

img{
  width: 50%;
  margin-top: 10%;
  margin-left: 17%;
}

.title{
  color: aliceblue;
  margin-left: 17%;

}
.menu-sidebar .sidebar-logo a .title {
  text-decoration: none !important;
}
.sidebar-logo h6 {
font-size: 0.8em;
color: aliceblue;
  margin-left: 7%;
}
