<!-- <app-cust></app-cust> -->
<!-- <app-custpro></app-custpro> -->
<!-- <app-custpromax></app-custpromax>
<app-custlist></app-custlist> -->
<!-- <app-custlistpro></app-custlistpro> -->
<!--


<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="container">


  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/login" class="btn btn-info">Login</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/customers" class="btn btn-info">List Customers</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addcustomer" class="btn btn-info">Add Customer</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/profile" class="btn btn-info">Profile</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">

        <img src="../assets/logow.png" alt="logo">
        <h4 class="title">Tech Galaxy</h4>
        <h6 >Your Journey To The Digital Cosmos</h6>

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login">Login Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users-list">Users List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/edit-user">Edit User</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/add-new-user">Add User</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Customers" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/customers">Customers List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/addcustomer">Add Customer</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profile">Customer Profile</a>
          </li>
        </ul>
      </li>
      <!-- **Products -->
      <li nz-submenu nzOpen nzTitle="Products" nzIcon="code-sandbox">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/customers">Products List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/addcustomer">Add Product</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profile">Update Product</a>
          </li>
          </ul>
        </li>
          <!-- **Products -->
          <li nz-submenu nzOpen nzTitle="Order" nzIcon="shopping-cart">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/order">Order List</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/addorder">Add Product</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/update">Update Product</a>
              </li>
              </ul>
            </li>
            <li routerLink="/login" nz-submenu nzOpen nzTitle="Log out" nzIcon="logout" (click)="logout()">
            </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
